extends ../layout/common

block content
    //- product
    h1 Sản phẩm
    .d-flex.justify-content-end
        input#input(type="text", name='q', placeholder="Nhập tên sản phẩm...", value= value)
        button.btn.btn-primary Tìm sản phẩm
    .list-product.d-flex(style='flex-wrap: wrap; justify-content: space-around')
        
            
    //- pagination
    nav.mt-4(aria-label='Page navigation example')
        ul.pagination.justify-content-end
            li.page-item
                button.page-link Trang trước
            li.page-item
                button.page-link 1
            li.page-item
                button.page-link 2
            li.page-item.disabled
                .page-link ...
            li.page-item.disabled
                button.page-link(style="text-decoration: underline") 1
            li.page-item.disabled
                .page-link ...
            li.page-item
                button.page-link 5
            li.page-item
                button.page-link 6
            li.page-item
                button.page-link Trang kế                    

    