extends ../layout/common

block content
    //- product
    h1 Sản phẩm
    .d-flex.justify-content-end
        input#input-name-product(type="text", placeholder="Nhập tên sản phẩm...")
        button#search-product.btn.btn-primary Tìm sản phẩm
    .list-product.d-flex(style='flex-wrap: wrap')
        
            
    //- pagination
    nav.mt-4(aria-label='Page navigation example')
        ul.pagination.justify-content-end
            li.page-item
                button.page-link Trang trước
            li.page-item
                button.page-link 
            li.page-item
                button.page-link 
            li.page-item.disabled
                .page-link ...
            li.page-item.disabled
                button.page-link(style="text-decoration: underline") 
            li.page-item.disabled
                .page-link ...
            li.page-item
                button.page-link 
            li.page-item
                button.page-link 
            li.page-item
                button.page-link Trang kế                    

    